<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div
        style="width: 80%; background-color: white; margin: 0 auto; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); color: black;">
        <div style="text-align: center;">
            <img src="https://drive.google.com/uc?export=view&id=1R7lf1ohYQBRg-EuCFrrZcO2ZW5Wh3aXb" alt="google" style="border-radius: 100%;
                      background-color: white;
                      padding: 2px;
                    " />
        </div>
        <div style="width: 100%; height: 10px; background-color: blue;"></div>
        <div style="font-family: 'Courier New', Courier, monospace; padding: 0 5% 1rem;">
            <h3>Hi <a style="text-decoration: none; color: black;"><%=email%></a>,</h3>
            <p>As you have requested for reset password instructions, here they are, please follow the URL:</p>
            <div style="padding: 20px 0;">
                <a href="http://192.168.100.24:3030/reset_password?token=<%=token%>"
                    style="background-color: blue; text-decoration: none; color: aliceblue; padding: 10px; border-radius: 10px;">Reset
                    Password</a>
            </div>
            <p>Alternatively, open the following url in your browser</p>
            <a href="http://192.168.100.24:3030/reset_password?token=<%=token%>">http://192.168.100.24:3030/reset_password?token=<%=token%></a>
        </div>
    </div>
</body>

</html>